body {
  background: #263238;
  text-align: center;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1.1em;
  height: 100vh;
  color: white;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

input[type=text],
input[type=password],
input[type=number],
input[type=submit] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 5px;
}

a {
  color: lightblue;
  text-decoration: none;
}
