body {
  background: #263238;
  text-align: center;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1.1em;
  height: 100vh;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

input[type="text"],
input[type="password"] {
  font-size: 1em;
}
