<body>
  <form id="login-form">
    <h2>LiftMaster Account</h2>

    <div>
      Email
    </div>
    <div>
      <input id="email" type="text" name="email">
    </div>

    <div>
      Password
    </div> 
    <div>
      <input id="password" type="password" name="password">
    </div>

    <div>
      <input id="submit" type="submit">
    </div>
    
    <div id="message">

    </div>
  </form>
</body>
