body {
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  padding-bottom: 10px;
}

input {
  width: 300px;
  height: 28px;
}

#submit {
  background: #FAFAFA;
  border: none;
  outline: none;
  width: 70px;
  height: 30px;
  font-size: 1em;
}

#submit:hover {
  background: #E0E0E0;
  cursor: pointer;
}

#login-form {
  background: #ECEFF1;
  color: #212121;
  width: 340px;
  height: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
